<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>{{> head }}</head>
<body>
<div class="wrapper">
    {{> navbar }}
    {{> underbar }}
    <div class="content">
        <div class="container">
            <h4>Co jsme zač</h4>
            <p>TimeChip je obchodní označení služby, jejíž primárním posláním je zajišťování činností spojených s výsledkovým servisem téměř všech typů závodů, pro které je vhodné nasazení čipové technologie.<br />
                Přestože tento výraz nepokrývá plně celý rozsah činnosti, bývá tento typ služby v dnešní době obvykle označován jako čipová časomíra.<br />
                Vzhledem ke skutečnosti, že poprvé byla naostro nasazena 3.7.2004, řadí se tím čipová časomíra TimeChip k nejstarším službám svého druhu v ČR.</p>


        </div>


        <div id="main"></div>
    </div>
    {{> footer }}
</div>