<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>{{> head }}</head>
<body>
</body>
<div class="wrapper">
    {{> navbar }}
    {{> underbar }}


    <div class="container">
        <button id="testbutton">Test</button>

        <div id="testbox"></div>



    </div>






    {{> footer }}
</div>