


<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>{{> head }}</head>
<body>
</body>
<div class="wrapper">
  {{> navbar }}
  {{> underbar }}
    <div class="container">
        <table class="table table-striped table-bordered table-hover">
        {{{data}}}

        </table>
      </div>


    {{{data}}}











  {{> footer }}
</div>