<title>Výsledkový systém a čipová časomíra TimeChip | {{title}}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="sport timing,čipová časomíra, měření závodů">
<meta name="description" content="Výsledkový systém a čipová časomíra">
<meta name="author" content="TimeChip">
<meta name="Robots" content="index,follow" />
<link rel="stylesheet" href="/css/fontello.css" media="screen" />
<link rel="stylesheet" href="/css/bootstrap.css" media="screen" />
<link rel="stylesheet" href="/css/bootstrap-table.min.css" media="screen" />
<![if !IE]>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:301,400,700' rel='stylesheet' type='text/css'>
<![endif]>
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
