<div class="container content">
    <div class="row heading">
        <div class="col-xs-12">
            <h2>Co se děje u nás...</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3">
                    <div class="thumbnail boxwrapper">
                        <div class="thumbnail">
                            <div class="next-events-heading">
                                <h4>Nejbližší akce<span class="glyphicon glyphicon-calendar"></span></h4>
                            </div>

                            <div class="next-event-box">
                                <a target="_blank" href="./" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/duatlon-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">15.5.2015</h3>
                                    <p style="margin-bottom:0">Dobroslavický přejarnělý duaton někde na Prajzké</p>
                                </a>
                            </div>
                            <div class="next-event-box">
                                <a href="/" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/run-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">16.6.2015</h3>
                                    <p style="margin-bottom:0">Xtrehme Triathlo Brušperk</p>
                                </a>
                            </div>
                            <div class="next-event-box">
                                <a href="/" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/bike-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">28.10.2015</h3>
                                    <p style="margin-bottom:0">Valachiarun Vsetín</p>
                                </a>
                            </div>
                            <div class="next-event-box">
                                <a href="/" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/triatlon-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">15.11.2015</h3>
                                    <p style="margin-bottom:0">Krušnoman</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 visible-lg">
                    <div class="thumbnail homepage-imagewrapper">
                        <div class="thumbnail">
                            <img src="./img/brehy.jpg" height="358" width="539" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="thumbnail boxwrapper">
                        <div class="thumbnail">
                            <div class="next-events-heading">
                                <h4>Poslední výsledky<span class="glyphicon glyphicon-list-alt"></span></h4>
                            </div>

                            <div class="next-event-box">
                                <a target="_blank" href="./" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/duatlon-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">15.5.2015</h3>
                                    <p style="margin-bottom:0">Dobroslavický přejarnělý duaton někde na Prajzké</p>
                                </a>
                            </div>
                            <div class="next-event-box">
                                <a href="/" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/run-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">16.6.2015</h3>
                                    <p style="margin-bottom:0">Xtrehme Triathlo Brušperk</p>
                                </a>
                            </div>
                            <div class="next-event-box">
                                <a href="/" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/bike-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">28.10.2015</h3>
                                    <p style="margin-bottom:0">Valachiarun Vsetín</p>
                                </a>
                            </div>
                            <div class="next-event-box">
                                <a href="/" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/triatlon-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">15.11.2015</h3>
                                    <p style="margin-bottom:0">Krušnoman</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row heading">
        <div class="col-xs-12">
            <h2>Co se děje okolo...</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3">
                    <div class="thumbnail boxwrapper">
                        <div class="thumbnail">
                            <div class="next-events-heading">
                                <h4>Nejbližší akce<span class="glyphicon glyphicon-calendar"></span></h4>
                            </div>

                            <div class="next-event-box">
                                <a target="_blank" href="./" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/duatlon-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">15.5.2015</h3>
                                    <p style="margin-bottom:0">Dobroslavický přejarnělý duaton někde na Prajzké</p>
                                </a>
                            </div>
                            <div class="next-event-box">
                                <a href="/" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/run-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">16.6.2015</h3>
                                    <p style="margin-bottom:0">Xtrehme Triathlo Brušperk</p>
                                </a>
                            </div>
                            <div class="next-event-box">
                                <a href="/" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/bike-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">28.10.2015</h3>
                                    <p style="margin-bottom:0">Valachiarun Vsetín</p>
                                </a>
                            </div>
                            <div class="next-event-box">
                                <a href="/" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/triatlon-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">15.11.2015</h3>
                                    <p style="margin-bottom:0">Krušnoman</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="thumbnail boxwrapper">
                        <div class="thumbnail">
                            <div class="next-events-heading">
                                <h4>Poslední výsledky<span class="glyphicon glyphicon-list-alt"></span></h4>
                            </div>

                            <div class="next-event-box">
                                <a target="_blank" href="./" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/duatlon-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">15.5.2015</h3>
                                    <p style="margin-bottom:0">Dobroslavický přejarnělý duaton někde na Prajzké</p>
                                </a>
                            </div>
                            <div class="next-event-box">
                                <a href="/" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/run-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">16.6.2015</h3>
                                    <p style="margin-bottom:0">Xtrehme Triathlo Brušperk</p>
                                </a>
                            </div>
                            <div class="next-event-box">
                                <a href="/" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/bike-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">28.10.2015</h3>
                                    <p style="margin-bottom:0">Valachiarun Vsetín</p>
                                </a>
                            </div>
                            <div class="next-event-box">
                                <a href="/" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/triatlon-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">15.11.2015</h3>
                                    <p style="margin-bottom:0">Krušnoman</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="thumbnail boxwrapper">
                        <div class="thumbnail">
                            <div class="next-events-heading">
                                <h4>Poslední výsledky<span class="glyphicon glyphicon-list-alt"></span></h4>
                            </div>

                            <div class="next-event-box">
                                <a target="_blank" href="./" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/duatlon-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">15.5.2015</h3>
                                    <p style="margin-bottom:0">Dobroslavický přejarnělý duaton někde na Prajzké</p>
                                </a>
                            </div>
                            <div class="next-event-box">
                                <a href="/" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/run-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">16.6.2015</h3>
                                    <p style="margin-bottom:0">Xtrehme Triathlo Brušperk</p>
                                </a>
                            </div>
                            <div class="next-event-box">
                                <a href="/" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/bike-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">28.10.2015</h3>
                                    <p style="margin-bottom:0">Valachiarun Vsetín</p>
                                </a>
                            </div>
                            <div class="next-event-box">
                                <a href="/" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/triatlon-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">15.11.2015</h3>
                                    <p style="margin-bottom:0">Krušnoman</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="thumbnail boxwrapper">
                        <div class="thumbnail">
                            <div class="next-events-heading">
                                <h4>Poslední výsledky<span class="glyphicon glyphicon-list-alt"></span></h4>
                            </div>

                            <div class="next-event-box">
                                <a target="_blank" href="./" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/duatlon-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">15.5.2015</h3>
                                    <p style="margin-bottom:0">Dobroslavický přejarnělý duaton někde na Prajzké</p>
                                </a>
                            </div>
                            <div class="next-event-box">
                                <a href="/" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/run-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">16.6.2015</h3>
                                    <p style="margin-bottom:0">Xtrehme Triathlo Brušperk</p>
                                </a>
                            </div>
                            <div class="next-event-box">
                                <a href="/" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/bike-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">28.10.2015</h3>
                                    <p style="margin-bottom:0">Valachiarun Vsetín</p>
                                </a>
                            </div>
                            <div class="next-event-box">
                                <a href="/" class="clearfix">
                                    <div class="race-type-icon-wrapper">
                                        <img src="./img/race-type-icons/triatlon-icon.gif" />
                                    </div>
                                    <h3 style="text-decoration: underline;font-size:14px;margin:0;font-weight:bold;line-height:20px">15.11.2015</h3>
                                    <p style="margin-bottom:0">Krušnoman</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
